{% extends 'dashboard.html'%}
{% block content %}
<style>
    label,::placeholder{
        color:gray !important;
    }

</style>
{% if status %}
<p class='alert alert-success' style="margin-top:16px;">
    <i class='fas fa-check'></i> {{status}}</p>
{% endif %}
<div style="margin-top:16px;margin-bottom:16px;">
<h2>Change Profile</h2>
<div style='height:2px;width:100px;background:#f0ad4e'></div>
<p class='my-1'>
    Fill your details here. If you change your email, use updated email for further loggin in.
</p>
</div>
<form action="{% url 'mysite:change_profile' %}" method="post" class='mt-4'>
{% csrf_token %}
<input type="hidden" name='id' value='{{pp.id}}'>
<input type="hidden" name='custid' value='{{pp.custid}}'>
<div class='form-group'>
    <div class="row">
        <div class="col-md-6">
            <label>Subtitle</label>
            <input placeholder="{{pp.subtitle}}" type="text" class="form-control" name="subtitle" />
        </div>
        <div class="col-md-6">
            <label>Change Picture</label>
            <input type="file" class="form-control" name="pic" />
        </div>
    </div>
</div>
<div class='form-group'>
    <div class="row">
        <div class="col-md-6">
            <label>First Name</label>
            <input placeholder="{{pp.first_name}}" type="text" class="form-control" name="name" />
        </div>
        <div class="col-md-6">
            <label>Last Name</label>
            <input placeholder="{{pp.last_name}}" type="text" class="form-control" name="lname" />
        </div>
    </div>
</div>
<div class='form-group'>
    <label>Email</label>
    <input placeholder="{{pp.username}}" type="email" class="form-control" name="email" />
</div>
<div class='form-group'>
    <label for="">City</label>
    <textarea placeholder="{{pp.city}}" class="form-control" name="address"></textarea>
</div>
<div class='form-group'>
    <input type="submit" class="btn btn-block text-light" style='border-radius:20px;background:#f0ad4e;'/>
</div>
</form>
{% endblock %}