{% extends "base.html"%}
{% load staticfiles%}
{% block body %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-8' style='padding:40px;margin-left:24%;'>
                <div style='width:100%;padding:50px;border-radius:5px;box-shadow:0px 0px 10px black;'>
                    {% if status %}
                        {{status}}
                        <a href="{% url 'index'%}">Go Ho Homepage</a>
                    {% else %}
                    <div class='row'>
                        <div class='col-md-4'>
                            <h2 style='color:green;font-size:100px;'><i class="far fa-check-circle"></i></h2>
                        </div>
                        <div class='col-md-8'>
                            <h2 style='margin-top:5%;'>Order Success!!!</h2>
                        </div>
                        <div class='col-md-12'>
                            <p class='text-success text-center'>
                                Hello {{user.first_name}} {{user.last_name}} Your order with Txn No: {{txn_id}} received successfully!!!
                            </p>
                            <div class="card text-center">
                                <div class="card-body text-center" style="margin:10px;">
                                </div>
                                <div class="card-body">
                                    <span>Your order will delivered to you soon on:</span><br/>
                                    <address>{{order.delivery_address}}</address>
                                    <a href="{% url 'mysite:order_history'%}">Click Here To see Order Summary</a>
                                </div>
                                <small class="text-center">Thanks for choosing FitnessStore for shopping...</small>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}